<mat-tab-group class="chart-container">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">insights</mat-icon>
    </ng-template>
    <div echarts [options]="chartOption1"></div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">bar_chart</mat-icon>
    </ng-template>
    <div echarts [options]="chartOption2"></div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">query_stats</mat-icon>
    </ng-template>
    <div echarts [options]="chartOption3"></div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">query_stats</mat-icon>
    </ng-template>
    <div echarts [options]="chartOption4"></div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">query_stats</mat-icon>
    </ng-template>
    <div echarts [options]="chartOption5"></div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">query_stats</mat-icon>
    </ng-template>
    <div echarts [options]="chartOption6"></div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">query_stats</mat-icon>
    </ng-template>
    <div echarts [options]="chartOption7"></div>
  </mat-tab>

</mat-tab-group>
