<div class="columns-container">
  <div class="column column1">
    <div class="box-sm"></div>
    <div class="box-sm"></div>
    <div class="box-sm"></div>
    <div class="box-sm"></div>
  </div>

  <div class="column column2">
    <div class="box-title">
      <div class="title" #title>Line Chart</div>
    </div>
    <div class="box-lg">
      <mat-tab-group class="chart-container" (selectedTabChange)="tabGroup($event)">

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">insights</mat-icon>
          </ng-template>
          <div echarts [options]="chartOption1" class="chart-item"></div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">bar_chart</mat-icon>
          </ng-template>
          <div echarts [options]="chartOption2" class="chart-item"></div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">pie_chart</mat-icon>
          </ng-template>
          <div echarts [options]="chartOption3" class="chart-item"></div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">scatter_plot</mat-icon>
          </ng-template>
          <div echarts [options]="chartOption4" class="chart-item"></div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">radar</mat-icon>
          </ng-template>
          <div echarts [options]="chartOption5" class="chart-item"></div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">account_tree</mat-icon>
          </ng-template>
          <div echarts [options]="chartOption6" class="chart-item"></div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">data_usage</mat-icon>
          </ng-template>
          <div echarts [options]="chartOption7" class="chart-item"></div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">cloud</mat-icon>
          </ng-template>
          <div echarts [options]="chartOption8" class="chart-item"></div>
        </mat-tab>

      </mat-tab-group>
    </div>
    <div class="box-md"></div>
  </div>

  <div class="column column3">
    <div class="box-md"></div>
    <div class="posts">
      <div class="card" *ngFor="let post of posts">
        <div (click)="openPopup(post)" class="post-card">
          <mat-card-title>{{post.author}}</mat-card-title><br>
          <mat-card-subtitle>{{post.platform}}</mat-card-subtitle><br>
          <mat-card-content>{{ post.text }}</mat-card-content>
        </div>
      </div>
    </div>

    <div id="popup" class="popup">
      <div class="popup-content">
        <h1 id="popup-author"></h1>
        <h2 id="popup-platform"></h2>
        <p id="popup-text"></p>
        <h3>User Information</h3>
        <div id="popup-followers"></div>
        <div id="popup-likes"></div>
        <div id="popup-retweets"></div>
        <div id="popup-replies"></div><br>
        <button mat-flat-button color="warn" (click)="closePopup()">Close</button>
      </div>
    </div>

  </div>
</div>
