<div class="columns-container">
  <div class="column column1">
    <div class="box-sm"></div>
    <div class="box-sm"></div>
    <div class="box-sm"></div>
    <div class="box-sm"></div>
  </div>
  <div class="column column2">
    <div class="box-title"></div>
    <div class="box-lg"></div>
    <div class="box-md"></div>
  </div>
  <div class="column column3">
    <div class="box-md"></div>
    <div class="posts">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </div>
</div>
